{% extends 'base.html.twig' %}

{% block title %}Hello PromotionCodeController!{% endblock %}

{% block body %}
<div>
    <a href={{ path('app_promotion_code_create') }} class="flex my-2-5 no-decoration"><button>Créer un nouveau code promo</button></a>
    {% for code in promotionCodes %}
        <a href={{ path('app_promotion_code_show', { id: code.id }) }} class="no-decoration zinc-350">
            <article>
                <header class="flex items-center justify-between">
                    {{ code.productName }}
                    <small>id: {{ code.id }}</small>
                </header>
                <div class="flex gap-2">
                    <mark>{{ code.rate }}%</mark>
                    <kbd>{{ code.code }}</kbd>
                </div>
            </article>
        </a>
    {% endfor %}
</div>
{% endblock %}
